.footer-bg {
    background-color: #1c7e2a;
}

.footer-link {
    color: #e7ffe8;
    text-decoration: none;
    transition: .2s ease;
}

.footer-link:hover {
    color: white;
    text-decoration: underline;
}